.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rating-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}