@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

.pet-badge {
    display:inline-block;
    background-color: #EAD8C7;
    padding:32px;
    box-shadow:0 8px 24px rgba(0, 0, 0, 0.10);
    border-radius:10px 10px 10px 10px;
}

.pet-name {
    font-family: "Oleo Script Swash Caps", cursive;
    margin:0;
    text-align:center;
    font-size:60px;
    color: #A96D61;
}

.pet-image {
    border-radius:50%;
    width: 300px;
    border: 8px solid #A96D61;
    margin-bottom: 10px;
}