@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
body {
    background-color: #DFD9E2;
}
p {
    color:hsl(223, 10%, 36%);
    font-family: "Poppins", sans-serif, Georgia;
    font-weight: 300;
    font-style: normal;
}

h1,h2,h3 {
    color:hsl(281, 26%, 48%);
    font-family: "Poppins", sans-serif, Georgia;

    font-style: normal;
}

h1 {
    text-decoration:underline;
}

h2 {
    letter-spacing: 5px;
    text-transform:uppercase;
}

h1,h2 {
    text-align:center;
}

#introduction {
    font-weight: bold;
}
ul li {
    list-style: square;
    color:	hsl(223, 10%, 36%);
    font-family: "Poppins", sans-serif, Georgia;
    font-weight: 300;
    font-style: normal;
}

button {
    color:	hsl(0, 0%, 100%);
    background-color: 	hsl(281, 26%, 48%);
    font-size:25px;
}

button:hover {
    background-color: 	hsl(174, 55%, 36%);

}