@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
/*In the body start with font-family, font-weight, color and background-color. This prevents unnecessary code, for example the p selector*/
body {
    background-color: #DFD9E2;
    /*font-family
    font-weight
    color*/
}
p {
    color:hsl(223, 10%, 36%);
    font-family: "Poppins", sans-serif, Georgia;
    font-weight: 300;
    font-style: normal;
}

/*There should be a font-weight:500; and font-family is unnecessary*/
h1,h2,h3 {
    color:hsl(281, 26%, 48%);
    font-family: "Poppins", sans-serif, Georgia;
    font-style: normal;
}

h1 {
    text-decoration:underline;
}

/*In the solution, letter-spacing:10px;*/
h2 {
    letter-spacing: 5px;
    text-transform:uppercase;
}

h1,h2 {
    text-align:center;
}

/*font-weight should be font-weight:500;, not bold*/
#introduction {
    font-weight: bold;
}

/*ul as a selector is enough, the already already contains list items. Color, font-family,font-weight must be already in body and font-style is not required.*/
ul li {
    list-style: square;
    color:	hsl(223, 10%, 36%);
    font-family: "Poppins", sans-serif, Georgia;
    font-weight: 300;
    font-style: normal;
}

/*In the solutions, the font-size should be font-size:24px;, but I think it's not a big problem if it is 25px*/
button {
    color:	hsl(0, 0%, 100%);
    background-color: 	hsl(281, 26%, 48%);
    font-size:25px;
}

/*Choose any color you want*/
button:hover {
    background-color: 	hsl(174, 55%, 36%);

}